*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:  10% 90%;
}

#header{
    width: 100%;
    height: 100%;
    background-color: blue;
    grid-column: 1/3;
    grid-row: 1;
}

#sections{
    width: 100%;
    height: 100%;
    background-color: pink;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-top: 15px;
}

.section{
    width: 90%;
    flex: 0 0 70px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.project-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
}

.projects-container{
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.projects-container::-webkit-scrollbar{
    display: none;
}

.project-pointer{
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0px;
}


#stage{
    width: 100%;
    height: 100%;
    background-color: lime;
    grid-column: 2;
    grid-row: 2;
    height: auto
}
