* {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 8vh 92vh;
	grid-template-areas:
		"header header"
		"sidebar content";
	overflow: hidden;
}

.header{
	grid-area: header;
	background-color: #6583e5;
	height: 100%;
	width: 100%;
}

.sidebar{
	height: 100%;
	width: 100%;
	grid-area: sidebar;
	background-color: #d76464;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.sidebar-header{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 30%;
	width: 100%;
	background-color: skyblue;
}
.project-list{
	display: flex;
	flex-direction: column;
	height: 70%;
	width: 100%;
	background-color: #867777;
	overflow-y: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}
.project::webkit-scrollbar{
	display: none;
}

.content{
	grid-area: content;
	height: 100%;
	width: 100%;
}

/* Task */
.task{
	width: 100%;
	border: 1px solid black;
   	border-radius: 10px;
	padding: 20px;
	display: grid;
	justify-items: start;
	align-items: center;
	grid-template-columns: 2fr 1fr 1fr 80px;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"title date priority priority"
		"description description description delete";
}
.task-title{
	grid-area: title;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;;
}
.task-due-date{
	grid-area: date;
	font-size: 1.2em;
	text-align: center;
	color: #bc550f;
	justify-self: end;
}
.task-priority{
	grid-area: priority;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	justify-self: end;
}
.task-description{
	grid-area: description;
	font-size: 1.2em;
	text-align: left;
}

/* Project */
.project{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 10fr;
	align-items: center;
	background-color: goldenrod;
}
.project-header{
	grid-row: 1;
	font-size: 1.5em;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 50px 0px 20px;
}
.project-title{
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px;
}
.task-container{
	grid-row: 2;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	row-gap: 20px;
	background-color: lightblue;
	overflow-y: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}
.task-container::webkit-scrollbar{
	display: none;
}

.project-list-item{
	width: 100%;
	height: 40px;
	border-radius: 5px;
	margin-top: 10px;
	background-color: gray;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
}


/* General */
.UIButton{
	width: fit-content;
	padding: 0.75em;
	border-radius: 0.5em;
	font-size: 0.75em;
}