* {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 15% 85%;

	grid-template-areas: "header header"
						 "side stage"
						
}

#header{
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	color: white;
	grid-area: header;
}

#header > #make-task-button{
	margin-top: 30px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 10px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	transition: transform 200ms;
	color: white;
}
#header > #make-task-button:hover{
	transform: scale(1.05);
}
#header > #make-task-button:active{
	transform: scale(1);
}


#side-pannel{
	background-color: black;
	grid-area: side;
	background-color: goldenrod;
}

#stage {
	background-color: gray;
	color: white;
	grid-area: stage;
	overflow-y: scroll;
	padding: 20px;
}

.task-creation-view{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	border: 1px solid white;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
}


